VenueMaker/Connected Services/Kwenda/KwendaService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="KwendaService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://services.mawingu.se/kwenda/kwendaservice.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://services.mawingu.se/kwenda/kwendaservice.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://services.mawingu.se/kwenda/kwendaservice.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/KwendaService.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IKwendaService_Version_InputMessage">
    <wsdl:part name="parameters" element="tns:Version" />
  </wsdl:message>
  <wsdl:message name="IKwendaService_Version_OutputMessage">
    <wsdl:part name="parameters" element="tns:VersionResponse" />
  </wsdl:message>
  <wsdl:message name="IKwendaService_CreateAccount_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateAccount" />
  </wsdl:message>
  <wsdl:message name="IKwendaService_CreateAccount_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateAccountResponse" />
  </wsdl:message>
  <wsdl:message name="IKwendaService_VerifyAccount_InputMessage">
    <wsdl:part name="parameters" element="tns:VerifyAccount" />
  </wsdl:message>
  <wsdl:message name="IKwendaService_VerifyAccount_OutputMessage">
    <wsdl:part name="parameters" element="tns:VerifyAccountResponse" />
  </wsdl:message>
  <wsdl:message name="IKwendaService_UpdateAccount_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateAccount" />
  </wsdl:message>
  <wsdl:message name="IKwendaService_UpdateAccount_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateAccountResponse" />
  </wsdl:message>
  <wsdl:message name="IKwendaService_RequestVerificationCode_InputMessage">
    <wsdl:part name="parameters" element="tns:RequestVerificationCode" />
  </wsdl:message>
  <wsdl:message name="IKwendaService_RequestVerificationCode_OutputMessage">
    <wsdl:part name="parameters" element="tns:RequestVerificationCodeResponse" />
  </wsdl:message>
  <wsdl:message name="IKwendaService_ChangePassword_InputMessage">
    <wsdl:part name="parameters" element="tns:ChangePassword" />
  </wsdl:message>
  <wsdl:message name="IKwendaService_ChangePassword_OutputMessage">
    <wsdl:part name="parameters" element="tns:ChangePasswordResponse" />
  </wsdl:message>
  <wsdl:message name="IKwendaService_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="IKwendaService_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="IKwendaService_Logout_InputMessage">
    <wsdl:part name="parameters" element="tns:Logout" />
  </wsdl:message>
  <wsdl:message name="IKwendaService_Logout_OutputMessage">
    <wsdl:part name="parameters" element="tns:LogoutResponse" />
  </wsdl:message>
  <wsdl:message name="IKwendaService_ValidateToken_InputMessage">
    <wsdl:part name="parameters" element="tns:ValidateToken" />
  </wsdl:message>
  <wsdl:message name="IKwendaService_ValidateToken_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValidateTokenResponse" />
  </wsdl:message>
  <wsdl:message name="IKwendaService_ListKwendaFiles_InputMessage">
    <wsdl:part name="parameters" element="tns:ListKwendaFiles" />
  </wsdl:message>
  <wsdl:message name="IKwendaService_ListKwendaFiles_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListKwendaFilesResponse" />
  </wsdl:message>
  <wsdl:message name="IKwendaService_GetKwendafiles_InputMessage">
    <wsdl:part name="parameters" element="tns:GetKwendafiles" />
  </wsdl:message>
  <wsdl:message name="IKwendaService_GetKwendafiles_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetKwendafilesResponse" />
  </wsdl:message>
  <wsdl:message name="IKwendaService_UpdateKwendaFiles_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateKwendaFiles" />
  </wsdl:message>
  <wsdl:message name="IKwendaService_UpdateKwendaFiles_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateKwendaFilesResponse" />
  </wsdl:message>
  <wsdl:message name="IKwendaService_SetKwendaPermissions_InputMessage">
    <wsdl:part name="parameters" element="tns:SetKwendaPermissions" />
  </wsdl:message>
  <wsdl:message name="IKwendaService_SetKwendaPermissions_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetKwendaPermissionsResponse" />
  </wsdl:message>
  <wsdl:portType name="IKwendaService">
    <wsdl:operation name="Version">
      <wsdl:input wsaw:Action="http://tempuri.org/IKwendaService/Version" message="tns:IKwendaService_Version_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IKwendaService/VersionResponse" message="tns:IKwendaService_Version_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateAccount">
      <wsdl:input wsaw:Action="http://tempuri.org/IKwendaService/CreateAccount" message="tns:IKwendaService_CreateAccount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IKwendaService/CreateAccountResponse" message="tns:IKwendaService_CreateAccount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="VerifyAccount">
      <wsdl:input wsaw:Action="http://tempuri.org/IKwendaService/VerifyAccount" message="tns:IKwendaService_VerifyAccount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IKwendaService/VerifyAccountResponse" message="tns:IKwendaService_VerifyAccount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateAccount">
      <wsdl:input wsaw:Action="http://tempuri.org/IKwendaService/UpdateAccount" message="tns:IKwendaService_UpdateAccount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IKwendaService/UpdateAccountResponse" message="tns:IKwendaService_UpdateAccount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RequestVerificationCode">
      <wsdl:input wsaw:Action="http://tempuri.org/IKwendaService/RequestVerificationCode" message="tns:IKwendaService_RequestVerificationCode_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IKwendaService/RequestVerificationCodeResponse" message="tns:IKwendaService_RequestVerificationCode_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <wsdl:input wsaw:Action="http://tempuri.org/IKwendaService/ChangePassword" message="tns:IKwendaService_ChangePassword_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IKwendaService/ChangePasswordResponse" message="tns:IKwendaService_ChangePassword_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/IKwendaService/Login" message="tns:IKwendaService_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IKwendaService/LoginResponse" message="tns:IKwendaService_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Logout">
      <wsdl:input wsaw:Action="http://tempuri.org/IKwendaService/Logout" message="tns:IKwendaService_Logout_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IKwendaService/LogoutResponse" message="tns:IKwendaService_Logout_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ValidateToken">
      <wsdl:input wsaw:Action="http://tempuri.org/IKwendaService/ValidateToken" message="tns:IKwendaService_ValidateToken_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IKwendaService/ValidateTokenResponse" message="tns:IKwendaService_ValidateToken_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListKwendaFiles">
      <wsdl:input wsaw:Action="http://tempuri.org/IKwendaService/ListKwendaFiles" message="tns:IKwendaService_ListKwendaFiles_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IKwendaService/ListKwendaFilesResponse" message="tns:IKwendaService_ListKwendaFiles_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetKwendafiles">
      <wsdl:input wsaw:Action="http://tempuri.org/IKwendaService/GetKwendafiles" message="tns:IKwendaService_GetKwendafiles_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IKwendaService/GetKwendafilesResponse" message="tns:IKwendaService_GetKwendafiles_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateKwendaFiles">
      <wsdl:input wsaw:Action="http://tempuri.org/IKwendaService/UpdateKwendaFiles" message="tns:IKwendaService_UpdateKwendaFiles_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IKwendaService/UpdateKwendaFilesResponse" message="tns:IKwendaService_UpdateKwendaFiles_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetKwendaPermissions">
      <wsdl:input wsaw:Action="http://tempuri.org/IKwendaService/SetKwendaPermissions" message="tns:IKwendaService_SetKwendaPermissions_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IKwendaService/SetKwendaPermissionsResponse" message="tns:IKwendaService_SetKwendaPermissions_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IKwendaService" type="tns:IKwendaService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Version">
      <soap:operation soapAction="http://tempuri.org/IKwendaService/Version" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateAccount">
      <soap:operation soapAction="http://tempuri.org/IKwendaService/CreateAccount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VerifyAccount">
      <soap:operation soapAction="http://tempuri.org/IKwendaService/VerifyAccount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateAccount">
      <soap:operation soapAction="http://tempuri.org/IKwendaService/UpdateAccount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RequestVerificationCode">
      <soap:operation soapAction="http://tempuri.org/IKwendaService/RequestVerificationCode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <soap:operation soapAction="http://tempuri.org/IKwendaService/ChangePassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/IKwendaService/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Logout">
      <soap:operation soapAction="http://tempuri.org/IKwendaService/Logout" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateToken">
      <soap:operation soapAction="http://tempuri.org/IKwendaService/ValidateToken" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListKwendaFiles">
      <soap:operation soapAction="http://tempuri.org/IKwendaService/ListKwendaFiles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetKwendafiles">
      <soap:operation soapAction="http://tempuri.org/IKwendaService/GetKwendafiles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateKwendaFiles">
      <soap:operation soapAction="http://tempuri.org/IKwendaService/UpdateKwendaFiles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetKwendaPermissions">
      <soap:operation soapAction="http://tempuri.org/IKwendaService/SetKwendaPermissions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="KwendaService">
    <wsdl:port name="BasicHttpBinding_IKwendaService" binding="tns:BasicHttpBinding_IKwendaService">
      <soap:address location="http://services.mawingu.se/kwenda/kwendaservice.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>