VenueMaker/Connected Services/Kwenda/kwendaservice.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/KwendaService.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/KwendaService.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CreateAccountRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Organization" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CreateAccountRequest" nillable="true" type="tns:CreateAccountRequest" />
  <xs:complexType name="CreateAccountResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Result" type="tns:CreateAccountResponse.MethodResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CreateAccountResponse" nillable="true" type="tns:CreateAccountResponse" />
  <xs:simpleType name="CreateAccountResponse.MethodResult">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Ok" />
      <xs:enumeration value="UserAlreadyExists" />
      <xs:enumeration value="RequiredInfoMissing" />
      <xs:enumeration value="OtherError" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="CreateAccountResponse.MethodResult" nillable="true" type="tns:CreateAccountResponse.MethodResult" />
  <xs:complexType name="VerifyAccountRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" type="xs:int" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VerifyAccountRequest" nillable="true" type="tns:VerifyAccountRequest" />
  <xs:complexType name="VerifyAccountResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Result" type="tns:VerifyAccountResponse.MethodResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VerifyAccountResponse" nillable="true" type="tns:VerifyAccountResponse" />
  <xs:simpleType name="VerifyAccountResponse.MethodResult">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Ok" />
      <xs:enumeration value="NotFound" />
      <xs:enumeration value="AlreadyUsed" />
      <xs:enumeration value="Expired" />
      <xs:enumeration value="OtherError" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="VerifyAccountResponse.MethodResult" nillable="true" type="tns:VerifyAccountResponse.MethodResult" />
  <xs:complexType name="UpdateAccountRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Inactive" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Organization" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Token" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UpdateAccountRequest" nillable="true" type="tns:UpdateAccountRequest" />
  <xs:complexType name="UpdateAccountResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Result" type="tns:UpdateAccountResponse.MethodResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UpdateAccountResponse" nillable="true" type="tns:UpdateAccountResponse" />
  <xs:simpleType name="UpdateAccountResponse.MethodResult">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Ok" />
      <xs:enumeration value="NotLoggedIn" />
      <xs:enumeration value="NotFound" />
      <xs:enumeration value="OtherError" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="UpdateAccountResponse.MethodResult" nillable="true" type="tns:UpdateAccountResponse.MethodResult" />
  <xs:complexType name="ChangePasswordRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ChangePasswordRequest" nillable="true" type="tns:ChangePasswordRequest" />
  <xs:complexType name="ChangePasswordResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Result" type="tns:ChangePasswordResponse.MethodResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ChangePasswordResponse" nillable="true" type="tns:ChangePasswordResponse" />
  <xs:simpleType name="ChangePasswordResponse.MethodResult">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Ok" />
      <xs:enumeration value="AccountNotFound" />
      <xs:enumeration value="InvalidCode" />
      <xs:enumeration value="CodeAlreadyUsed" />
      <xs:enumeration value="CodeExpired" />
      <xs:enumeration value="OtherError" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ChangePasswordResponse.MethodResult" nillable="true" type="tns:ChangePasswordResponse.MethodResult" />
  <xs:complexType name="LoginRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="AppID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LoginRequest" nillable="true" type="tns:LoginRequest" />
  <xs:complexType name="LoginResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Result" type="tns:LoginResponse.MethodResult" />
      <xs:element minOccurs="0" name="Token" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LoginResponse" nillable="true" type="tns:LoginResponse" />
  <xs:simpleType name="LoginResponse.MethodResult">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Ok" />
      <xs:enumeration value="InvalidCridentials" />
      <xs:enumeration value="AccountInactive" />
      <xs:enumeration value="AccountNotVerified" />
      <xs:enumeration value="OtherError" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="LoginResponse.MethodResult" nillable="true" type="tns:LoginResponse.MethodResult" />
  <xs:complexType name="LogoutRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Token" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LogoutRequest" nillable="true" type="tns:LogoutRequest" />
  <xs:complexType name="ValidateTokenRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Token" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ValidateTokenRequest" nillable="true" type="tns:ValidateTokenRequest" />
  <xs:complexType name="ValidateTokenResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Result" type="tns:ValidateTokenResponse.MethodResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ValidateTokenResponse" nillable="true" type="tns:ValidateTokenResponse" />
  <xs:simpleType name="ValidateTokenResponse.MethodResult">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Ok" />
      <xs:enumeration value="Invalid" />
      <xs:enumeration value="Expired" />
      <xs:enumeration value="OtherError" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ValidateTokenResponse.MethodResult" nillable="true" type="tns:ValidateTokenResponse.MethodResult" />
  <xs:complexType name="ListKwendaFilesRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="NewerThan" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Token" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListKwendaFilesRequest" nillable="true" type="tns:ListKwendaFilesRequest" />
  <xs:complexType name="ListKwendaFilesResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="Files" nillable="true" type="tns:ArrayOfKwendaFileListItem" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Result" type="tns:ListKwendaFilesResponse.MethodResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListKwendaFilesResponse" nillable="true" type="tns:ListKwendaFilesResponse" />
  <xs:complexType name="ArrayOfKwendaFileListItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KwendaFileListItem" nillable="true" type="tns:KwendaFileListItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKwendaFileListItem" nillable="true" type="tns:ArrayOfKwendaFileListItem" />
  <xs:complexType name="KwendaFileListItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="FileExt" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FileName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FileTitle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastModified" type="xs:dateTime" />
      <xs:element minOccurs="0" name="VenueId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="KwendaFileListItem" nillable="true" type="tns:KwendaFileListItem" />
  <xs:simpleType name="ListKwendaFilesResponse.MethodResult">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Ok" />
      <xs:enumeration value="OtherError" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ListKwendaFilesResponse.MethodResult" nillable="true" type="tns:ListKwendaFilesResponse.MethodResult" />
  <xs:complexType name="GetKwendaFileRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="FileIds" nillable="true" type="tns:ArrayOfKwendaFileId" />
      <xs:element minOccurs="0" name="Token" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetKwendaFileRequest" nillable="true" type="tns:GetKwendaFileRequest" />
  <xs:complexType name="ArrayOfKwendaFileId">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KwendaFileId" nillable="true" type="tns:KwendaFileId" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKwendaFileId" nillable="true" type="tns:ArrayOfKwendaFileId" />
  <xs:complexType name="KwendaFileId">
    <xs:sequence>
      <xs:element minOccurs="0" name="FileName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VenueId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="KwendaFileId" nillable="true" type="tns:KwendaFileId" />
  <xs:complexType name="GetKwendaFileResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="Files" nillable="true" type="tns:ArrayOfKwendaFileItem" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Result" type="tns:GetKwendaFileResponse.MethodResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetKwendaFileResponse" nillable="true" type="tns:GetKwendaFileResponse" />
  <xs:complexType name="ArrayOfKwendaFileItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KwendaFileItem" nillable="true" type="tns:KwendaFileItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKwendaFileItem" nillable="true" type="tns:ArrayOfKwendaFileItem" />
  <xs:complexType name="KwendaFileItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="Active" type="xs:boolean" />
      <xs:element minOccurs="0" name="Data" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="FileExt" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FileName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FileTitle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastModified" type="xs:dateTime" />
      <xs:element minOccurs="0" name="VenueId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="KwendaFileItem" nillable="true" type="tns:KwendaFileItem" />
  <xs:simpleType name="GetKwendaFileResponse.MethodResult">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Ok" />
      <xs:enumeration value="OtherError" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="GetKwendaFileResponse.MethodResult" nillable="true" type="tns:GetKwendaFileResponse.MethodResult" />
  <xs:complexType name="UpdateKwendaFileRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="Files" nillable="true" type="tns:ArrayOfKwendaFileItem" />
      <xs:element minOccurs="0" name="InactivateAllForVenue" type="xs:boolean" />
      <xs:element minOccurs="0" name="Token" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UpdateKwendaFileRequest" nillable="true" type="tns:UpdateKwendaFileRequest" />
  <xs:complexType name="UpdateKwendaFileResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Result" type="tns:UpdateKwendaFileResponse.MethodResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UpdateKwendaFileResponse" nillable="true" type="tns:UpdateKwendaFileResponse" />
  <xs:simpleType name="UpdateKwendaFileResponse.MethodResult">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Ok" />
      <xs:enumeration value="NotLoggedIn" />
      <xs:enumeration value="NoPermission" />
      <xs:enumeration value="OtherError" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="UpdateKwendaFileResponse.MethodResult" nillable="true" type="tns:UpdateKwendaFileResponse.MethodResult" />
  <xs:complexType name="SetKwendaPermissionsRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="Items" nillable="true" type="tns:ArrayOfKwendaPermissionItem" />
      <xs:element minOccurs="0" name="Token" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SetKwendaPermissionsRequest" nillable="true" type="tns:SetKwendaPermissionsRequest" />
  <xs:complexType name="ArrayOfKwendaPermissionItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KwendaPermissionItem" nillable="true" type="tns:KwendaPermissionItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKwendaPermissionItem" nillable="true" type="tns:ArrayOfKwendaPermissionItem" />
  <xs:complexType name="KwendaPermissionItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GrantPermission" type="xs:boolean" />
      <xs:element minOccurs="0" name="ReadOnly" type="xs:boolean" />
      <xs:element minOccurs="0" name="VenueId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="KwendaPermissionItem" nillable="true" type="tns:KwendaPermissionItem" />
  <xs:complexType name="SetKwendaPermissionsResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Result" type="tns:SetKwendaPermissionsResponse.MethodResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SetKwendaPermissionsResponse" nillable="true" type="tns:SetKwendaPermissionsResponse" />
  <xs:simpleType name="SetKwendaPermissionsResponse.MethodResult">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Ok" />
      <xs:enumeration value="NotLoggedIn" />
      <xs:enumeration value="NoPermission" />
      <xs:enumeration value="OtherError" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="SetKwendaPermissionsResponse.MethodResult" nillable="true" type="tns:SetKwendaPermissionsResponse.MethodResult" />
</xs:schema>