VenueMaker/Connected Services/Kwenda/kwendaservice1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://services.mawingu.se/kwenda/kwendaservice.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/KwendaService.Models" />
  <xs:element name="Version">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="VersionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VersionResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateAccount">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/KwendaService.Models" minOccurs="0" name="aInfo" nillable="true" type="q1:CreateAccountRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateAccountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/KwendaService.Models" minOccurs="0" name="CreateAccountResult" nillable="true" type="q2:CreateAccountResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerifyAccount">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/KwendaService.Models" minOccurs="0" name="aRequest" nillable="true" type="q3:VerifyAccountRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerifyAccountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/KwendaService.Models" minOccurs="0" name="VerifyAccountResult" nillable="true" type="q4:VerifyAccountResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAccount">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/KwendaService.Models" minOccurs="0" name="aInfo" nillable="true" type="q5:UpdateAccountRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAccountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/KwendaService.Models" minOccurs="0" name="UpdateAccountResult" nillable="true" type="q6:UpdateAccountResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RequestVerificationCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="aEmail" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RequestVerificationCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RequestVerificationCodeResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangePassword">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/KwendaService.Models" minOccurs="0" name="aInfo" nillable="true" type="q7:ChangePasswordRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangePasswordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/KwendaService.Models" minOccurs="0" name="ChangePasswordResult" nillable="true" type="q8:ChangePasswordResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Login">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/KwendaService.Models" minOccurs="0" name="aLogin" nillable="true" type="q9:LoginRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/KwendaService.Models" minOccurs="0" name="LoginResult" nillable="true" type="q10:LoginResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Logout">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/KwendaService.Models" minOccurs="0" name="aLogout" nillable="true" type="q11:LogoutRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogoutResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LogoutResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateToken">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/KwendaService.Models" minOccurs="0" name="aRequest" nillable="true" type="q12:ValidateTokenRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateTokenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/KwendaService.Models" minOccurs="0" name="ValidateTokenResult" nillable="true" type="q13:ValidateTokenResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListKwendaFiles">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/KwendaService.Models" minOccurs="0" name="aRequest" nillable="true" type="q14:ListKwendaFilesRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListKwendaFilesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/KwendaService.Models" minOccurs="0" name="ListKwendaFilesResult" nillable="true" type="q15:ListKwendaFilesResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetKwendafiles">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/KwendaService.Models" minOccurs="0" name="aRequest" nillable="true" type="q16:GetKwendaFileRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetKwendafilesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/KwendaService.Models" minOccurs="0" name="GetKwendafilesResult" nillable="true" type="q17:GetKwendaFileResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateKwendaFiles">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/KwendaService.Models" minOccurs="0" name="aRequest" nillable="true" type="q18:UpdateKwendaFileRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateKwendaFilesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/KwendaService.Models" minOccurs="0" name="UpdateKwendaFilesResult" nillable="true" type="q19:UpdateKwendaFileResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetKwendaPermissions">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/KwendaService.Models" minOccurs="0" name="req" nillable="true" type="q20:SetKwendaPermissionsRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetKwendaPermissionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/KwendaService.Models" minOccurs="0" name="SetKwendaPermissionsResult" nillable="true" type="q21:SetKwendaPermissionsResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>